@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: url("../../assets/fonts/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../assets/fonts/RobotoCondensed-Light.eot");
  src: url("../../assets/fonts/RobotoCondensed-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../../assets/fonts/RobotoCondensed-Light.woff") format("woff"),
    url("../../assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/Roboto-Medium.eot");
  src: url("../../assets/fonts/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.personaldetails-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  /* border: black solid 1px; */
  background-color: white;
  font-family: "Roboto Medium", sans-serif;
}
.personaldetails-title {
  font-size: 20px;
  font-family: "Roboto Medium";
  margin-top: 30px;
  padding: 10px 0;
  border-bottom: 2px solid black;
}
.personaldetails-titles {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}
.personaldetails-user {
  display: flex;
  justify-content: space-between;
}

.personaldetails-inputs {
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  font-family: "Roboto Medium", sans-serif;
  margin-bottom: 12px;
}

.personaldetails-birthday-input {
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  font-family: "Roboto Medium", sans-serif;
}
.personaldetails-birthday-text {
  margin: 20px 0;
  font-size: 14px;
}

.personaldetails-phone {
  margin-top: 10px;
  height: 35px !important;
}

.personaldetails-user-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: left;
  margin-top: 30px;
}
.personaldetails-user-right {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 45%;
}

/* DETAILS RESERVATION */

.personaldetails-bottom {
  display: flex;
  flex-direction: column;
}
.personaldetails-bottom-title {
  font-size: 16px;
  font-family: "Roboto Medium";
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px 0;
}
.personaldetails-bottom i {
  line-height: 20px;
  font-size: 12px;

  font-family: "Roboto Medium";
}
.personaldetails-bottom span {
  font-size: 12px;
  font-family: "Roboto Medium";
}

.personaldetails-bottom-information {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  width: 400px;
}

.personaldetails-bottom-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin-top: 30px;
}
.personaldetails-bottom-cgu {
  margin-top: 40px;
  border-top: 1px solid grey;
  padding: 20px 0;
  font-size: 10px;
}

.personaldetails-button {
  background-color: #ff5f00;
  border: none;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 250px;
  font-size: 15px;
  font-family: "Roboto Medium", sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
}
.personaldetails-button:disabled {
  background-color: black;
  cursor: not-allowed;
}
.personaldetails-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.personaldetails-modal-container {
  width: 400px;
  height: 200px;
  background-color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-container p {
  margin-bottom: 10px;
}

.unique-id {
  font-size: 18px;
  font-weight: bold;
}

.modal-close-button {
  background-color: #eaeaea;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
